# String Formatting

### Positioning Formating

In [16]:
str="{1} {0} {2}".format('Python','Programming','Language')
print(str)

Programming Python Language

In [17]:
str="{2} {0} {1}".format('Python','Programming','Language')
print(str)

Language Python Programming

In [18]:
str="{2} {1} {0}".format('Python','Programming','Language')
print(str)

Language Programming Python

### Keyword Formatting

In [19]:
str="{a} {b} {c}".format(a='Python',b='Programming',c='Language')
print(str)

Python Programming Language

In [20]:
str="{b} {a} {c}".format(a='Python',b='Programming',c='Language')
print(str)

Programming Python Language

In [21]:
str="{c} {b} {a}".format(a='Python',b='Programming',c='Language')
print(str)

Language Programming Python

# List

In [22]:
list1 = [123,'ab',2.23,'man']
small= [456,'qwerty']

In [23]:
print(small * 2)

[456, 'qwerty', 456, 'qwerty']

In [24]:
print(list1 + small)

[123, 'ab', 2.23, 'man', 456, 'qwerty']

In [25]:
list1[0]

123

In [26]:
list1[0]=365

In [27]:
list1

[365, 'ab', 2.23, 'man']

In [28]:
list1[3]='hhh'

In [29]:
list1

[365, 'ab', 2.23, 'hhh']

In [33]:
str = input("Enter any sequence ")

Enter any sequence 12 34 25 52 62 12 34 25 52 62 22

In [34]:
a=str.split()

In [35]:
print(a)

['12', '34', '25', '52', '62', '12', '34', '25', '52', '62', '22']

In [62]:
a1=str.split('12')

In [63]:
print(a1)

['', ' 34 25 52 62 ', ' 34 25 52 62 22']

In [53]:
str1 = input("Enter any sequence ")

Enter any sequence iparuluniversity pairul gujarati

In [54]:
b=str1.split()

In [55]:
print(b)

['iparuluniversity', 'pairul', 'gujarati']

In [56]:
c=str1.split('i')

In [57]:
print(c)

['', 'parulun', 'vers', 'ty pa', 'rul gujarat', '']

In [66]:
str2 = input("Enter any sequence ")

Enter any sequence 12 5 5 68 3 john uma

In [67]:
str2

'12 5 5 68 3 john uma'

In [68]:
d=str2.split()

In [69]:
d

['12', '5', '5', '68', '3', 'john', 'uma']

In [70]:
d=str2.split("5")

In [71]:
d

['12 ', ' ', ' 68 3 john uma']

# Tuple

In [36]:
tuple1 = ('abcd' ,789, 2.23, 70.2,'qwerty')
tuple2 = ('small',525,'hhs')

In [37]:
print(tuple1,tuple2)

('abcd', 789, 2.23, 70.2, 'qwerty') ('small', 525, 'hhs')

In [38]:
print(tuple1[1])

789

In [39]:
print(tuple1[1:3])

(789, 2.23)

In [1]:
t=['hii',12,13]
t[0][:1]

'h'

#### Updating The tuple

In [40]:
tuple2 = ('abcd' ,789, 2.23, 70.2,'qwerty')

In [41]:
tuple2[0]='ddd'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [42]:
# First Declaration
dict1 = {'id' : 1234, 'name' : 'Dhanesh', 'dept' : 'technical'}

# Second Declaration
dict2 = {}  # Empty dictionary is created
dict2['one'] = "This is python"
dict2[2] = "This is java"

In [43]:
print(dict2['one'])

This is python

In [44]:
print(dict2[2])

This is java

In [45]:
print(dict1)

{'id': 1234, 'name': 'Dhanesh', 'dept': 'technical'}

In [46]:
print(dict1.keys())

dict_keys(['id', 'name', 'dept'])

In [47]:
print(dict1.values())

dict_values([1234, 'Dhanesh', 'technical'])

### Updating a dictionary

In [48]:
dict1['id']=582

In [49]:
print(dict1['id'])

582

In [50]:
print(dict1)

{'id': 582, 'name': 'Dhanesh', 'dept': 'technical'}

# Note

In [51]:
q=12

### Answer is in Float
### Single divide symbol is for float answer

In [52]:
var = q / 4
print(var)

3.0

### Answer is in int
### Double divide symbol is for int answer

In [55]:
var1 = q // 4
print(var1)

3

In [7]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
for i in range(10,2,-2):
    print(i)

10
8
6
4

In [21]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18